<div class="page-container">
  <div class="header" fxLayoutAlign="space-between start">
    <div>
      <img src="../assets/generallogo.png">
    </div>
    <div>
      <button mat-icon-button><mat-icon>exit_to_app</mat-icon></button>
      <button mat-icon-button><mat-icon>settings</mat-icon></button>
    </div>
  </div>
  <div class="content" gdAreas="trucks convertibles | vans rocketships"
  gdGap="2rem">
    <div class="box" gdArea="trucks">
      <img src="../assets/truck.jpg">
      <div class="box-label" fxLayoutAlign="center center">
        <span style="font-size: 8rem;">Trucks</span>
      </div>
    </div>
    <div class="box" gdArea="convertibles">
      <img src="../assets/convertible.jpg">
      <div class="box-label" fxLayoutAlign="center center">
        <span style="font-size: 6rem;">Convertibles</span>
      </div>
    </div>
    <div class="box" gdArea="vans">
      <img src="../assets/van.jpg">
      <div class="box-label" fxLayoutAlign="center center">
        <span style="font-size: 8rem;">Vans</span>
      </div>
    </div>
    <div class="box" gdArea="rocketships">
      <img src="../assets/rocket.jpg">
      <div class="box-label" fxLayoutAlign="center center">
        <span style="font-size: 8rem;">Rockets</span>
      </div>
    </div>
  </div>
</div>
